@import "./variables";
// Wrapper for the slide container and indicators
.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: $carousel-transition;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next {
    &:not(.carousel-item-start) {
        transform: translateX(100%);
    }
}

.carousel-item-end {
    &.active {
        transform: translateX(100%);
    }
}

.carousel-item-prev {
    &:not(.carousel-item-end) {
        transform: translateX(-100%);
    }
}

.carousel-item-start {
    &.active {
        transform: translateX(-100%);
    }
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index: $carousel-zindex;
    span {
        width: $carousel-indicator-width;
        height: $carousel-indicator-height;
        border: 1px solid $carousel-border-color;
        border-radius: 100%;
        margin: 0 4px;
        transition: $carousel-indicator-transition;
        cursor: pointer;
        &.active {
            background-color: $carousel-bg-color;
            transition: $carousel-indicator-transition;
        }
    }
}