// flex
@mixin flex-align {
    display: flex;
    align-items: center;
}

@mixin flex-align-js-center {
    @include flex-align();
    justify-content: center;
}

@mixin flex-column-align-js-center {
    @include flex-align-js-center();
    flex-direction: column;
}

// sidebar 
@mixin sidebar-view() {
    margin-left: -$sidebar-width;
    transition: $transition;
}