*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-family-sans-serif;
    line-height: $line-height-base;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: $font-family-base;
    line-height: $line-height-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $dark;
    background-color: $white;
}

hr {
    margin: $spacer 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

hr:not([size]) {
    height: 1px; // 2
}

%heading {
    margin-top: 0; // 1
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1 {
    @extend %heading;
    font-size: $h1-font-size;
}

h2 {
    @extend %heading;
    font-size: $h2-font-size;
}

h3 {
    @extend %heading;
    font-size: $h3-font-size;
}

h4 {
    @extend %heading;
    font-size: $h4-font-size;
}

h5 {
    @extend %heading;
    font-size: $h5-font-size;
}

h6 {
    @extend %heading;
    font-size: $h6-font-size;
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

// Lists
ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

b,
strong {
    font-weight: $font-weight-bolder;
}

small {
    font-size: $small-font-size;
}

// Links
a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-decoration;
    }
}

a:not([href]):not([class]) {
    &,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// Images and content
img,
svg {
    vertical-align: middle;
}

label {
    display: inline-block; // 1
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
    &:disabled {
        opacity: 1;
    }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    &:not(:disabled) {
        cursor: pointer;
    }
}

[type="search"] {
    outline-offset: -2px; // 1
    -webkit-appearance: textfield; // 2
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

[hidden] {
    display: none !important;
}

iframe {
    border: 0;
}

textarea {
    resize: vertical; // 1
}

::-webkit-inner-spin-button {
    height: auto;
}