//
// Headings
//
body {
    font-family: "Open Sans", sans-serif;
    color: $body-color;
}

.h1 {
    @extend h1;
}

.h2 {
    @extend h2;
}

.h3 {
    @extend h3;
}

.h4 {
    @extend h4;
}

.h5 {
    @extend h5;
}

.h6 {
    @extend h6;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: $font-family-Raleway-sans-sarif;
}

.lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}

// Emphasis
//
.small {
    @extend small;
}

// Lists
//
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
    padding-left: 0;
    list-style: none;
}

.section-light {
    background: $primary-light-bg;
}

.section-white {
    background: $white;
}