@import "./theme/variables";
// 
@mixin sidebar-view() {
    margin-left: -300px;
    transition: $transition;
}

body {
    font-family: "Open Sans", sans-serif;
    color: $body-color;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: $page-height;
    width: $sidebar-width;
    transition: $transition;
}

main {
    width: calc($page-width - $sidebar-width);
    margin-left: auto;
    overflow: auto;
}

body {
    &.sidebar-hidden {
        @include sidebar-view();
    }
    @media screen and (max-width: 767px) {
        @include sidebar-view();
    }
}

.page-caption {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    color: $caption-color;
    font-weight: $font-weight-bold;
    &::after {
        content: "";
        height: 3px;
        width: 50px;
        background: $primary;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    +p {
        margin-bottom: 2rem;
    }
}