@import "./theme/variables";
// 
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.portfolio-card {
    position: relative;
    overflow: hidden;
    transition: $transition;
    img {
        height: 260px;
        width: 100%;
        transition: $transition;
    }
    a {
        text-decoration: none;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($primary, .70);
        transform: translateY(100%);
        transition: $transition;
        &:hover {
            background: rgba($primary, .85);
        }
        i {
            position: relative;
            font-size: $font-size-base*1.5;
            color: $white;
            display: block;
            text-align: center;
            padding: 10px 10px;
        }
    }
    &:hover {
        img {
            opacity: .5;
            transition: $transition;
        }
        a {
            transform: translateY(0);
            transition: $transition;
        }
    }
}