@import "./theme/variables";
//
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.skills-progress {
    position: relative;
    small {
        font-weight: $font-weight-bold;
        margin-bottom: .5rem;
        text-transform: uppercase;
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
    .progress {
        clear: both;
    }
}